/* * {
	margin: 0;
	padding: 0;
}*/

body{
	background: #5C12A6;
}

.imagen{
	opacity: 0.4;
	position: absolute;
}
.barra{
	color:#000;
	font-size: 20px
}

h1{
	color: #000;
	background: #2F0459 

}

p{
	color: #000;
	background: #F2E205;
	font-size: 20px 
}

p b{
	color: #000;
	font-size: 20px
}
p span{
	color: #000;
	font-size: 20px
}
.parrafo{      /*  Esto es para crear una clase*/
	color: #000;;
	font-size: 20px
}

#parrafo{      /*  Esto es para crear un id. Nota: No se puede usar en otros atributos. No se usan mucho*/
	color: #000
	font-size: 20px
}